# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
wp
tmp

# Editor backups
*~

# Test cases
example-ws.js
apache.txt

# Other
notes.txt
nyt.txt
